<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.mapper.IndexMapper">
    <select id="showInfo" resultType="index">
        select detailOne, detailTwo, detailThree from index
    </select>

    <select id="showSpeech" resultType="index">
        select deanImg, speechOne, speechTwo, speechThree from index
    </select>

    <select id="showOrgImg" resultType="String">
        select orgUrl from index
    </select>

    <select id="showPartner" resultType="partner">
        select * from partner where iId = 1
    </select>
</mapper>